#Pandas

NumPy is *missing features* to enable data analysis on relational data like:


1.   No way to attach **labels** to data
2.   No pre-built methods to **fill missing values**
3.   No way to **group data**
4.   No way to **pivot data**

Pandas is built on top of NumPy to make data processing on relational data easier.

In [ ]:
import numpy as np
import pandas as pd

#Creating Series Object

In [ ]:
s = pd.Series([0, 1, 1, 2, 3, 5, 8])
print(s)   #first col is automatically implicitly created index

0    0
1    1
2    1
3    2
4    3
5    5
6    8
dtype: int64

In [ ]:
 s = pd.Series([0.0, 1, 1, 2, 3, 5, 8])  #making it float type
 s

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
5    5.0
6    8.0
dtype: float64

In [ ]:
s.values

array([0., 1., 1., 2., 3., 5., 8.])

In [ ]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
for v in s.values:
  print(v)

0.0
1.0
1.0
2.0
3.0
5.0
8.0

In [ ]:
for i in s.index:
  print(i)

0
1
2
3
4
5
6

In [ ]:
for item in zip(s.index, s.values):
  print(item)

(0, 0.0)
(1, 1.0)
(2, 1.0)
(3, 2.0)
(4, 3.0)
(5, 5.0)
(6, 8.0)

In [ ]:
s[4]

3.0

In [ ]:
mars = pd.Series([0.33, 57.9, 4222.6], index= ['Mass', 'Diameter', 'DayLength'])   #explicit indexing
#there is a mistake, it is all of mercury than mars
mars

Mass            0.33
Diameter       57.90
DayLength    4222.60
dtype: float64

In [ ]:
mars['Mass']     #not a good way

0.33

In [ ]:
mars.Mass    #not a good way either

0.33

In [ ]:
arr = np.random.randint(0, 10, 10)
arr

array([4, 9, 0, 8, 0, 0, 2, 5, 5, 8])

In [ ]:
ind = np.arange(10, 20)

In [ ]:
rand_series = pd.Series(arr, index= ind)
rand_series

10    4
11    9
12    0
13    8
14    0
15    0
16    2
17    5
18    5
19    8
dtype: int64

In [ ]:
d= {}
d['Mass'] = 0.33
d['Diameter'] = 57.9
d['DayLight'] = 4222.6
d

{'DayLight': 4222.6, 'Diameter': 57.9, 'Mass': 0.33}

In [ ]:
mars = pd.Series(d)
mars

Mass           0.33
Diameter      57.90
DayLight    4222.60
dtype: float64

In [ ]:
mars = pd.Series(d, index= ['Mass', 'Diameter']) #it will filter only those index from the dict which are mentioned here
mars

Mass         0.33
Diameter    57.90
dtype: float64

##iLoc and Loc

In [ ]:
s = pd.Series([0, 1, 1, 2, 3, 5, 8], index = [1, 2, 3, 4, 5, 6, 7])
s

1    0
2    1
3    1
4    2
5    3
6    5
7    8
dtype: int64

In [ ]:
s.loc[4]  #it will return value from explicit indexing

2

In [ ]:
s.iloc[4]  #it will return value from implicit indexing

#loc/iloc is better way than using s[i] or s.i

3

In [ ]:
mars.loc['Mass']

0.33

In [ ]:
mars.iloc[0]

0.33

In [ ]:
mars.iloc[-1]

57.9

In [ ]:
mars.iloc[:]

Mass         0.33
Diameter    57.90
dtype: float64

In [ ]:
mars.iloc[0:1]   #1 is not included

Mass    0.33
dtype: float64

In [ ]:
mars.loc['Mass':'Diameter']   #it will include Diameter too

Mass         0.33
Diameter    57.90
dtype: float64

##Simple Operations

In [ ]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index= ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [ ]:
print(mass)

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [ ]:
mass.iloc[1]

4.87

In [ ]:
mass.loc['Earth']

5.97

In [ ]:
mass > 100

Mercury    False
Venus      False
Earth      False
Mars       False
Jupiter     True
Saturn      True
Uranus     False
Neptune     True
Pluto      False
dtype: bool

In [ ]:
mass[mass > 100]

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [ ]:
mass[(mass > 100) & (mass < 600)]

Saturn     568.0
Neptune    102.0
dtype: float64

In [ ]:
mass * 2    #broadcasting like in numpy

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [ ]:
mass /  10

Mercury      0.03300
Venus        0.48700
Earth        0.59700
Mars         0.06420
Jupiter    189.80000
Saturn      56.80000
Uranus       8.68000
Neptune     10.20000
Pluto        0.00146
dtype: float64

In [ ]:
np.mean(mass)  #as pandas is layer over numpy, so all numpy operations works

296.29184444444445

In [ ]:
mass - mass    #index will preserve

Mercury    0.0
Venus      0.0
Earth      0.0
Mars       0.0
Jupiter    0.0
Saturn     0.0
Uranus     0.0
Neptune    0.0
Pluto      0.0
dtype: float64

In [ ]:
big_mass = mass[mass > 100]
big_mass

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [ ]:
new_mass = mass + big_mass    #index is union of index of both series
new_mass                      #values will give NaN (Not a Number) for index which are absent in any of the series
#in series, we have to first reorder the indices, and then add; unlike in array

Earth         NaN
Jupiter    3796.0
Mars          NaN
Mercury       NaN
Neptune     204.0
Pluto         NaN
Saturn     1136.0
Uranus        NaN
Venus         NaN
dtype: float64

In [ ]:
pd.isnull(new_mass)

Earth       True
Jupiter    False
Mars        True
Mercury     True
Neptune    False
Pluto       True
Saturn     False
Uranus      True
Venus       True
dtype: bool

In [ ]:
new_mass[-pd.isnull(new_mass)]

Jupiter    3796.0
Neptune     204.0
Saturn     1136.0
dtype: float64

In [ ]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [ ]:
mass['Moon'] = 0.7346
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
Moon          0.7346
dtype: float64

In [ ]:
mass.drop(['Pluto'])

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Moon          0.7346
dtype: float64

##Task 

**Task - 1**

Collect numbers for the diameters of these planets (heavenly bodies) and store it as a Series object. Then given these two Series objects mass and diameter, compute the density of each planet.

In [ ]:
diameter = pd.Series([4878, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
                     index= ['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [ ]:
mass = pd.Series([0.33, 4.87, 5.97, 0.7346, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index= ['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [ ]:
density = mass /  (4 * np.pi * ((diameter/2)**3) / 3)      #density = mass / volume, volume = 4*(pi*r^3)/3
density          #densities are almost same for all, even with varying weight

Mercury    5.429876e-12
Venus      5.244977e-12
Earth      5.493286e-12
Moon       3.343396e-11
Mars       3.913302e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
dtype: float64

**Task 2**

Given this density Series, replace all values with NaNs with the mean density of all planets.

In [ ]:
mass['PlanetX'] = 6
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Moon          0.7346
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
PlanetX       6.0000
dtype: float64

In [ ]:
density = mass /  (4 * np.pi * ((diameter/2)**3) / 3) 
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.429876e-12
Moon       3.343396e-11
Neptune    1.603427e-12
PlanetX             NaN
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [ ]:
density[pd.isnull(density)] = np.mean(density)
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.429876e-12
Moon       3.343396e-11
Neptune    1.603427e-12
PlanetX    6.031403e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

**Task 3**

Compare the Series wrt dictionaries:

1.   Checking if some keys is present
2.   Summing values
3.   Computing std

In [ ]:
my_dict = {}
N = 1000000
for i in range(N):
  my_dict[i] = i%10

In [ ]:
my_series = pd.Series(my_dict)

In [ ]:
M = 10000

In [ ]:
arr = np.random.randint(0, N, M)

In [ ]:
10 in my_dict

True

In [ ]:
%%timeit
for i in arr:
  i in my_dict

100 loops, best of 5: 6.79 ms per loop

In [ ]:
%%timeit
for i in arr:
  i in my_series

#so series is  slower than dict when chcecking for a key

The slowest run took 5.04 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 5: 11.3 ms per loop

In [ ]:
%%timeit
sum(my_dict.values())

100 loops, best of 5: 10.8 ms per loop

In [ ]:
%%timeit
np.sum(my_series)

#series is faster than dict in summing

The slowest run took 7.02 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 852 Âµs per loop

In [ ]:
%%timeit
mean = sum(my_dict.values()) / N
variance = sum([(x - mean)**2 for x in my_dict.values()])
std = variance ** 0.5

10 loops, best of 5: 181 ms per loop

In [ ]:
%%timeit
np.std(my_series)

#series is faster in finding std than dict

100 loops, best of 5: 3.37 ms per loop

#NIFTY Case Study

In [ ]:
nifty = pd.read_csv('nifty-200623-235920.csv', index_col= 0).iloc[:, 0]
#It will read csv file as dataframe object, to make it Series object, we are using iloc
#index_col will make 0th column of the file as index

In [ ]:
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [ ]:
nifty.head(25)   #give top 25 values

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
Name: Close, dtype: float64

In [ ]:
nifty.tail(25)   #gives bottom 25 values

Date
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, dtype: float64

In [ ]:
np.mean(nifty)

11432.632244897959

In [ ]:
np.median(nifty)  #similar as mean, so no outliers

11512.4

In [ ]:
np.std(nifty)

453.2866947459807

**Task 1**

What fraction of days did the markets close higher than the previous day's close.

In [ ]:
nifty[0]

10910.1

In [ ]:
nifty[1]

10792.5

In [ ]:
nifty[1] - nifty[0]   #if this value is +ve, then add 1 to no of days

-117.60000000000036

In [ ]:
nifty[1:]    #all values of nifty except the first one

Date
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 244, dtype: float64

In [ ]:
nifty[: -1]    #all values of nifty except the last one

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
Name: Close, Length: 244, dtype: float64

In [ ]:
nifty[1:] - nifty[:-1]    #as its Series obj, it will first align the indices of the series, and then subtract
#instead of directly subtracting the values serially

Date
01-Apr-2019    0.0
01-Aug-2019    0.0
01-Feb-2019    0.0
01-Jan-2019    NaN
01-Jul-2019    0.0
              ...
31-Dec-2019    NaN
31-Jan-2019    0.0
31-Jul-2019    0.0
31-May-2019    0.0
31-Oct-2019    0.0
Name: Close, Length: 245, dtype: float64

In [ ]:
nifty.values[1:] - nifty.values[:-1]   #now we are taking numpy array of same size

array([-1.1760e+02, -1.2025e+02,  5.5100e+01,  4.4450e+01,  3.0350e+01,
        5.3000e+01, -3.3550e+01, -2.6650e+01, -5.7350e+01,  1.4920e+02,
        3.5000e+00,  1.4900e+01,  1.7500e+00,  5.4900e+01, -3.9100e+01,
       -9.1250e+01,  1.8300e+01, -6.9250e+01, -1.1900e+02, -9.3500e+00,
       -4.0000e-01,  1.7915e+02,  6.2700e+01,  1.8600e+01,  2.2100e+01,
        1.2810e+02,  6.9500e+00, -1.2580e+02, -5.4800e+01, -5.7400e+01,
       -3.7750e+01, -4.7600e+01, -2.1650e+01, -8.3450e+01, -3.6600e+01,
        1.3110e+02,  5.4400e+01,  1.8000e+00,  8.8450e+01, -4.4800e+01,
       -2.8650e+01, -1.4150e+01,  7.1000e+01,  1.2395e+02,  6.5550e+01,
        5.2000e+00, -2.2800e+01,  1.3265e+02,  1.3315e+02,  4.0500e+01,
        1.5500e+00,  8.3600e+01,  3.5350e+01,  7.0200e+01, -1.1350e+01,
       -6.4150e+01, -1.0265e+02,  1.2900e+02, -3.8200e+01,  1.2495e+02,
        5.3900e+01,  4.5250e+01,  4.4050e+01, -6.9250e+01, -4.5950e+01,
        6.7950e+01, -6.1450e+01,  6.7450e+01, -8.7650e+01,  1.2400e+01,
        4.6750e+01,  4.6900e+01,  9.6800e+01, -3.4350e+01, -1.5835e+02,
       -1.8500e+01,  1.5020e+02, -8.4350e+01,  1.1285e+02, -6.5000e+00,
       -2.3400e+01, -1.2500e+01, -1.1400e+02, -1.0035e+02, -1.3845e+02,
       -5.7650e+01, -2.2900e+01, -1.3070e+02,  7.3850e+01, -6.5050e+01,
        1.0010e+02,  1.5005e+02,  4.2110e+02, -1.1915e+02,  2.8800e+01,
       -8.0850e+01,  1.8705e+02,  8.0650e+01,  4.0000e+00, -6.7650e+01,
        8.4800e+01, -2.3100e+01,  1.6575e+02, -6.6900e+01, -1.7790e+02,
        2.6900e+01,  5.2050e+01,  4.2900e+01, -5.9400e+01,  7.8500e+00,
       -9.0750e+01, -1.5115e+02,  1.9350e+01, -5.0000e-02,  1.4030e+02,
       -1.0765e+02, -2.4450e+01,  9.6800e+01,  5.1100e+01, -6.0000e+00,
       -5.2700e+01,  7.6750e+01,  4.4700e+01,  6.4500e+00,  3.0000e+01,
       -1.3560e+02, -2.5255e+02, -2.7000e+00, -5.7000e+01,  8.4000e+01,
       -3.0400e+01,  3.5850e+01,  7.4250e+01,  2.4900e+01, -9.0600e+01,
       -1.7765e+02, -7.3050e+01, -1.5150e+01, -5.9750e+01, -1.9150e+01,
        3.2150e+01, -9.5100e+01, -1.0380e+02,  3.2600e+01, -1.3800e+02,
        1.7350e+01, -1.3475e+02,  8.5650e+01, -9.2750e+01,  1.7695e+02,
        7.7200e+01, -1.8380e+02,  1.0355e+02,  1.8400e+01,  6.1000e+00,
       -3.6900e+01, -9.8300e+01, -1.7735e+02,  8.8000e+01,  2.2850e+02,
        4.7500e+01, -5.9250e+01, -9.7800e+01,  7.4950e+01, -2.2535e+02,
        4.6750e+01,  3.2500e+00,  9.8300e+01,  5.6850e+01,  3.2650e+01,
       -5.2900e+01,  9.3100e+01, -7.2400e+01, -1.8590e+02,  2.3050e+01,
       -1.3585e+02,  5.6940e+02,  3.2600e+02, -1.2000e+01, -1.4800e+02,
        1.3100e+02, -5.8800e+01, -3.7950e+01, -1.1455e+02, -4.5900e+01,
       -1.3925e+02, -4.8350e+01,  1.8690e+02, -7.8750e+01,  7.0500e+01,
        3.6100e+01,  8.7150e+01,  3.5700e+01,  1.2235e+02,  7.5500e+01,
       -7.3500e+01,  1.5750e+01, -2.1500e+01,  1.3000e+00,  4.3250e+01,
        1.5970e+02,  5.7250e+01,  3.3350e+01,  1.3150e+01,  5.0700e+01,
       -2.4100e+01,  4.8850e+01,  4.6000e+01, -1.0390e+02,  5.3000e+00,
       -7.3000e+01,  3.1650e+01,  2.3350e+01, -1.0950e+01,  5.5600e+01,
        5.9000e+01, -3.0700e+01, -5.4000e+01,  1.5935e+02, -3.6050e+01,
        6.3000e+01,  5.0450e+01, -9.5100e+01, -7.8500e+00, -5.4000e+01,
        4.9000e+01, -2.4800e+01, -9.6900e+01,  1.6000e+01, -8.0700e+01,
        5.3350e+01,  6.1650e+01,  1.1490e+02, -3.2750e+01,  1.1105e+02,
        5.6650e+01,  3.8050e+01,  1.2100e+01, -9.0500e+00, -4.8200e+01,
       -8.8000e+01,  1.1925e+02,  1.0050e+01, -8.7400e+01])

In [ ]:
np.sum((nifty.values[1:] - nifty.values[:-1]) > 0) / len(nifty)

0.5265306122448979

**Task 2**

1. Compute moving average of the last 5 days.

2. Subset the data to include only data for Fridays.

In [ ]:
nifty.index[0]        #it is a string, so we will convert it to timestamp, to calculate 5 values

'01-Jan-2019'

In [ ]:
pd.Timestamp(nifty.index[0])

Timestamp('2019-01-01 00:00:00')

In [ ]:
d = pd.Timestamp(nifty.index[0])
d.dayofweek           #advantage of using timestamp, monday is first day, so its tuesday

1

In [ ]:
new_index = map(pd.Timestamp, nifty.index)

In [ ]:
new_nifty = pd.Series(nifty, index= new_index)
new_nifty

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
                ...
2019-12-24    12214.55
2019-12-26    12126.55
2019-12-27    12245.80
2019-12-30    12255.85
2019-12-31    12168.45
Name: Close, Length: 245, dtype: float64

In [ ]:
#ques 1

#A moving average, also called a rolling or running average, is used to analyze the time-series data 
#by calculating averages of different subsets of the complete dataset. 
#Since it involves taking the average of the dataset over time, it is also called a moving mean (MM) or rolling mean.

#The moving average is mostly used with time series data to capture the short-term fluctuations while focusing on longer trends.

new_nifty.rolling('5d').mean()

2019-01-01    10910.100000
2019-01-02    10851.300000
2019-01-03    10791.616667
2019-01-04    10775.550000
2019-01-07    10723.800000
                  ...
2019-12-24    12249.700000
2019-12-26    12201.283333
2019-12-27    12212.412500
2019-12-30    12209.400000
2019-12-31    12223.366667
Name: Close, Length: 245, dtype: float64

In [ ]:
nifty.rolling(window= 5).mean()

Date
01-Jan-2019         NaN
02-Jan-2019         NaN
03-Jan-2019         NaN
04-Jan-2019         NaN
07-Jan-2019    10774.80
                 ...
24-Dec-2019    12246.09
26-Dec-2019    12227.07
27-Dec-2019    12224.29
30-Dec-2019    12221.10
31-Dec-2019    12202.24
Name: Close, Length: 245, dtype: float64

In [ ]:
#ques 2

dow = new_nifty.copy()
for i in dow.index:
  dow[i] = i.dayofweek

In [ ]:
dow

2019-01-01    1.0
2019-01-02    2.0
2019-01-03    3.0
2019-01-04    4.0
2019-01-07    0.0
             ...
2019-12-24    1.0
2019-12-26    3.0
2019-12-27    4.0
2019-12-30    0.0
2019-12-31    1.0
Name: Close, Length: 245, dtype: float64

In [ ]:
new_nifty[dow == 4]   #for friday

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
Name: Close, dtype: float64